
.site{
text-align: center;
}

header.h2{

  font-size: large;
  position: center;
}

p.paragragh{
  text-align: center;
}

*{
box-sizing: border-box;
}

.Contact {
  justify-content: right;
  margin-right: 300;
}


.site-title {
  font-size: 4rem;
}

.nav {
  background-color: aqua;
  color: black;
  display: flex;
  position: center;
  justify-content: space-between;
  align-items: left;
  width: 1050px;
  gap: 2rem;
  padding: 0 1rem;
  top: 0;
  left: 0;
  font-size: 40px;
  
}

.nav ul {
  color: black;
padding: 0;
margin: 0;
list-style: none;
display: flex;
gap: 1rem;

}


.nav ul :hover {
color: white;
}

.nav :visited {
  color: black;
}
.nav :active {
  -webkit-box-shadow:0px 0px 105px 45px red;
-moz-box-shadow: 0px 0px 105px 45px red;
box-shadow: 0px 0px 105px 45px red;
}

html {
  overflow-y: scroll;
}

body{
 
  word-wrap: break-word;
background-color:black;
color:aqua;
text-justify: center;
align-items: center;
display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow: 'hidden';
}

button{

    background-color: rgb(51, 51, 51);
    color: aqua;
}